* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 2rem;
  color: #B36568;
  padding: 4px;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #B36568;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: #201F1D;
  color: #DAC3B9;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #982539;
}

h5 {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #982539;
}

p {
  padding: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #982539;
}

body {
  overflow-x: none;
}

body header {
  background-color: #201F1D;
  width: 100vw;
  height: 10%;
  position: relative;
  top: 0;
  z-index: 1;
}

body header .menu {
  z-index: 2;
}

body header .menu .navbar-nav {
  position: right;
  background-color: #201F1D;
}

body header .menu .navbar-nav a {
  background-color: #201F1D;
  color: #DAC3B9;
}

body header .menu .navbar-nav a:hover {
  background-color: #B36568;
  cursor: pointer;
}

body section {
  margin: 1rem;
}

body .home {
  display: flex;
  align-items: center;
}

body .home .home__video {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

body .home .home__video .home__video video {
  min-width: 100%;
  min-height: 100%;
}

body .home .home__titulo {
  margin: 10% 30%;
  z-index: 1;
  text-align: center;
}

body main #productos .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "foto1 texto1 foto2 texto2" "texto3 foto3 texto4 foto4" "foto5 texto5 foto6 texto6";
}

body main #productos .foto1 {
  grid-area: foto1;
}

body main #productos .texto1 {
  grid-area: texto1;
  background-color: #201F1D;
}

body main #productos .foto2 {
  grid-area: foto2;
}

body main #productos .texto2 {
  grid-area: texto2;
  background-color: #982539;
}

body main #productos .texto3 {
  grid-area: texto3;
  background-color: #B36568;
}

body main #productos .foto3 {
  grid-area: foto3;
}

body main #productos .texto4 {
  grid-area: texto4;
  background-color: #CEA597;
}

body main #productos .foto4 {
  grid-area: foto4;
}

body main #productos .foto5 {
  grid-area: foto5;
}

body main #productos .texto5 {
  grid-area: texto5;
  background-color: #201F1D;
}

body main #productos .foto6 {
  grid-area: foto6;
}

body main #productos .texto6 {
  grid-area: texto6;
  background-color: #B36568;
}

body main #productos .fotos {
  max-width: 100%;
  /*border-radius: 1px 1px 1px 1px;
                 -webkit-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                 -moz-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                 box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
             */
}

body main #productos .fotos:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

body main .servicios {
  background: url(../Imagenes/fondo.png);
  margin: 20px;
  display: grid;
  grid-template-areas: "titulo1 titulo1" "catering textoc" "textod desayunos";
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 45% 1fr 45%;
  grid-row-gap: 2px;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}

body main .titulo1 {
  grid-area: titulo1;
}

body main .catering {
  grid-area: catering;
}

body main .textoc {
  grid-area: textoc;
}

body main .textod {
  grid-area: textod;
}

body main .desayunos {
  grid-area: desayunos;
}

body main .contServ img {
  width: 100%;
  height: 100%;
  margin: 5px 5px;
}

body main .contacto .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "carrusel carrusel formulario formulario" "carrusel carrusel formulario formulario";
}

body main .contacto .formulario {
  grid-area: formulario;
  margin: 2%;
}

body main .contacto .formulario {
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

body #carouselExampleFade {
  z-index: 0;
}

body footer {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  grid-column-gap: 1px;
  background-color: #201F1D;
  width: 100vw;
  height: 60px;
  bottom: 0;
  position: relative;
}

body footer .footer__logo {
  padding: 5px;
  margin: 10px;
  width: 6%;
  float: center;
}

body footer .footer__lista {
  list-style: none;
  margin: 1px;
}

body footer .footer__lista .footer__lista--item {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: #DAC3B9;
}

body footer .redes__link--imagen {
  width: 15%;
  height: 15%;
  margin: 10px 5px;
}

body body {
  color: #af9a7c;
}

body #productos-1 {
  box-shadow: 11%;
}

body #productos-2 {
  box-shadow: 12%;
}

body img.productos {
  width: 10%;
}

body img.productos {
  width: 10%;
}

body img.productos {
  width: 10%;
}

/*grid-area: carrusel;
                    border-radius: 100px 100px 100px 100px;
                    -webkit-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                    -moz-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                    box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);*/
