* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 2rem;
  color: #B36568;
  padding: 4px;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #B36568;
}

h3 {
  font-weight: bold;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #201F1D;
}

h4 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #982539;
}

p {
  width: 100%;
  min-width: 50%;
  max-width: 90%;
  padding: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #201F1D;
}

body {
  background: #DAC3B9;
}

body header {
  background-color: #201F1D;
  width: 100vw;
  height: 5%;
  position: relative;
  top: 0;
  z-index: 2;
}

body header .menu {
  z-index: 2;
}

body header .menu .navbar-nav {
  background-color: #201F1D;
}

body header .menu .navbar-nav a {
  background-color: #201F1D;
  color: #DAC3B9;
}

body header .menu .navbar-nav a:hover {
  background-color: #B36568;
  cursor: pointer;
}

body main .home {
  display: flex;
  align-items: center;
}

body main .home .home__video {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
}

body main .home .home__titulo {
  margin: 10% 30%;
  z-index: 1;
  text-align: center;
}

body main #productos .grid-container {
  justify-content: space-evenly;
  align-content: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "foto1 texto1 foto2 texto2" "texto3 foto3 texto4 foto4";
}

body main #productos .foto1 {
  align-content: stretch;
  grid-area: foto1;
}

body main #productos .texto1 {
  padding: 10%;
  grid-area: texto1;
  background-color: #DAC3B9;
}

body main #productos .foto2 {
  grid-area: foto2;
}

body main #productos .texto2 {
  padding: 10%;
  grid-area: texto2;
  background-color: #982539;
}

body main #productos .texto3 {
  padding: 10%;
  grid-area: texto3;
  background-color: #B36568;
}

body main #productos .foto3 {
  grid-area: foto3;
}

body main #productos .texto4 {
  padding: 10%;
  grid-area: texto4;
  background-color: #CEA597;
}

body main #productos .foto4 {
  grid-area: foto4;
}

body main #productos .fotos {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

body main #quienesSomos {
  background-color: #DAC3B9 !important;
}

body main #quienesSomos .grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "carrusel carrusel carrusel carrusel" "historia historia historia historia";
}

body main #quienesSomos .carrusel {
  grid-area: carrusel;
}

body main #quienesSomos .carrusel .carousel-inner {
  height: 100%;
}

body main #quienesSomos .historia {
  grid-area: historia;
  padding: 10%;
}

body main #quienesSomos .historia .card {
  border: solid;
}

body main #quienesSomos .historia .card .card-text {
  font-size: 1rem;
  padding: 2%;
  margin: 0 !important;
}

body main .servicios {
  padding: 1rem;
}

body main .servicios .card {
  border: #201F1D;
}

body main .contacto {
  background: url(../Imagenes/bas.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  top: 0;
  padding-top: 30px;
  padding-bottom: 100px;
}

body main .contacto .formulario {
  width: 480px;
  margin: auto;
  background: rgba(218, 195, 185, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

body main .contacto form {
  min-height: 50%;
  max-height: 100%;
  max-width: 100%;
}

body main .contacto form label,
body main .contacto form select,
body main .contacto form textarea,
body main .contacto form input {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #201F1D;
  margin-bottom: 10px;
  padding: 4px;
  box-sizing: border-box;
  border: none;
}

body main .contacto form label textarea,
body main .contacto form select textarea,
body main .contacto form textarea textarea,
body main .contacto form input textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

body main .contacto form #boton {
  background-color: #201F1D;
  color: #DAC3B9;
  padding: 10px;
  border: none;
  width: 100%;
}

body main .contacto form #boton #boton:hover {
  cursor: pointer;
}

body footer {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  grid-template-rows: 1.5rem;
  background-color: #201F1D;
  width: 100vw;
  height: 3rem;
  bottom: 0;
  position: relative;
}

body footer .img-fluid {
  float: center;
  padding: 1%;
  height: 3rem;
}

body footer .footer__lista {
  list-style: none;
  margin: 0.063rem;
}

body footer .footer__lista .footer__lista--item {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: #DAC3B9;
}

body footer .redes__link--imagen {
  width: 18%;
  margin: 0.313rem;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
/*# sourceMappingURL=prueba.css.map */