* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F5EA;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Stint Ultra Condensed', cursive;
    font-weight: 500;
    color: #af9a7c;
    padding: 5px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #F9F5EA;
}

h3,
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A23607;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #A23607;
}

section {
    width: 100%;
    height: 100vh;
}

.logo {
    padding: 5px 5px;
    width: 6%;
    height: 6%;
    float: left;
}

header {
    text-align: center;
    background-color: #4E2008;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
}

#menu {
    position: fixed;
    width: 100%;
    text-align: right;
    font-family: 'Abhaya Libre', sans-serif;
}

#menu ul {
    list-style: none;
    margin: 5px;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #F9F5EA;
}

#menu ul li a:hover {
    background-color: #af9a7c;
    cursor: pointer;
}

#home video {
    top: 150px;
    width: 100%;
    height: 100%;
}

#productos {
    padding: 120px;
    margin: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50%1fr;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}

#servicios {
    padding: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 1fr;
    grid-area: ;
    grid-row-gap: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

#servicios img {
    width: 100%;
    height: 95%;
}

#contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

footer {
    background-color: #4E2008;
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    display: inline-flex;
}

.footer p {
    padding: 20px;
    width: 100%;
    height: 10%;
}

.redesFooter nav img {
    position: relative;
    top: 72%;
    left: 80%;
    width: 4.5%;
    height: 4.5%;
    margin: 10px;
}


/*footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #4E2008;
    padding: 20px;
    justify-content: left;
}

.redesFooter img {
    position: relative;
    top: 0;
    left: 94%;
    width: 2%;
    height: 2%;
    justify-content: flex-end;
}*/


}
@media only screen and (max-width: 480px) {}
@media only screen and (min-width: 480px) and (max-width: 768px) {}
@media only screen and (min-width: 768px) and (max-width: 1024px) {}