$colortexto:#A23607;
$ftexto:'Roboto',
sans-serif;
$colorebloque:#af9a7c;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Stint Ultra Condensed', cursive;
    font-weight: 500;
    color: #af9a7c;
    padding: 1px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #4E2008;
    width: 100%;
    color: #F9F5EA;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #F9F5EA;
}

h4 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A23607;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #A23607;
}

section {
    height: 100vh;
    padding: 10px;
    margin: 10px;
}

body {
    background-color: #F9F5EA;
    overflow-x: hidden;
    .row {
        .header {
            background-color: #4E2008;
            width: 100%;
            height: 15%;
            position: fixed;
            top: 0;
            z-index: 2;
            &__logo {
                padding: 5px 5px;
                width: 6%;
                float: left;
            }
            .btn-group {
                width: 50%;
                position: absolute;
                margin-left: 45%;
                a {
                    border: none;
                    font-family: 'Abhaya Libre', sans-serif;
                    color: #F9F5EA;
                    background-color: #4E2008;
                }
                a:hover {
                    background-color: $colorebloque;
                    cursor: pointer;
                }
            }
            .btn btn-primary {
                font-family: 'Abhaya Libre', sans-serif;
                color: #F9F5EA;
            }
        }
        main {
            #home video {
                max-width: 100%;
                height: 100vh;
            }
            #productos {
                display: grid;
                grid-template-areas: "titulo titulo titulo" "imagen1 imagen2 imagen3" "texto1 texto2 texto3";
                grid-template-columns: 25% 25% 25%;
                grid-template-rows: 10% auto 40%;
                grid-column-gap: 50px;
                grid-row-gap: 50px;
                justify-content: center;
                text-align: center;
            }
            .titulo {
                grid-area: titulo;
            }
            .imagen1 {
                grid-area: imagen1;
            }
            .imagen2 {
                grid-area: imagen2;
            }
            .imagen3 {
                grid-area: imagen3;
            }
            .texto1 {
                grid-area: texto1;
            }
            .texto2 {
                grid-area: texto2;
            }
            .texto3 {
                grid-area: texto3;
            }
            .fotos {
                max-width: 100%;
                border-radius: 10px 10px 10px 10px;
                -webkit-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                -moz-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
            }
            &:hover {
                transform: scale(1.05);
                transition: transform 0.5s ease-in-out;
            }
        }
        .contServ {
            padding: 15px;
            display: grid;
            grid-template-areas: "titulo1 titulo1" "catering textoc" "textod desayunos";
            grid-template-columns: 50% 50%;
            grid-template-rows: 5% 45% 1fr 45%;
            grid-row-gap: 2px;
            font-family: 'Roboto Mono', monospace;
            font-weight: 100;
        }
        .titulo1 {
            grid-area: titulo1;
        }
        .catering {
            grid-area: catering;
        }
        .textoc {
            grid-area: textoc;
        }
        .textod {
            grid-area: textod;
        }
        .desayunos {
            grid-area: desayunos;
        }
        #servicios img {
            padding: 5px;
            max-width: 95%;
        }
        #contacto {
            position: relative;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 1em;
            font-family: 'Roboto Mono', monospace;
            font-weight: 100;
        }
    }
    footer {
        display: grid;
        grid-template-columns: 90% 10%;
        grid-column-gap: 1px;
        background-image: linear-gradient(to right, #4E2008, #af9a7c);
        width: 100%;
        height: 70px;
        bottom: 0;
        .footer__lista {
            list-style: none;
            margin: 1px;
            .footer__lista--item {
                text-decoration: none;
                padding: 2px;
                color: #F9F5EA;
            }
        }
        .redes__link--imagen {
            width: 25%;
            height: 25%;
            margin: 10px 5px;
        }
    }
}


/*#menu ul {
    list-style: none;
    margin: 2px;
}
guardarrrrrr
#menu ul li {
    display: inline-block;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #F9F5EA;
}

#menu ul li a:hover {
    background-color: #af9a7c;
    cursor: pointer;
}*/

body {
    @if $colorebloque==#d3c1a9 {
        color: #A23607;
    }
    @else if $colorebloque==#4E2008 {
        color: #F9F5EA;
    }
    @else {
        color: #af9a7c;
    }
}

$animaciones:(imagen1:#4E2008, imagen2:#A23607, imagen3:#af9a7c, );
@for $i from 1 to 3 {
    #productos-#{$i} {
        box-shadow: 10% + $i;
    }
}

@each $animaciones in imagen1,
imagen2,
imagen3 {
    img.#{productos} {
        width: 10%;
    }
}