$color1:#201F1D;
$color2:#982539;
$color3:#B36568;
$color4:#DAC3B9;
$color5:#CEA597;
$ftexto:'Roboto',
sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: 2rem;
    color: $color3;
    padding: 4px;
}

h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: $color3;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: $color1;
    color: $color4;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: $color2;
}

h5 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: $color2;
}

p {
    width: 100%;
    min-width: 50%;
    max-width: 90%;
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: $color2;
}

body {
    background: $color4;
    overflow-x: hidden;
    .container {
        width: 100%;
        margin: auto;
        padding: 0;
    }
    header {
        background-color: $color1;
        width: 100vw;
        height: 5%;
        position: relative;
        top: 0;
        z-index: 1;
        .menu {
            z-index: 2;
            .navbar-nav {
                background-color: $color1;
                a {
                    background-color: $color1;
                    color: $color4;
                }
                a:hover {
                    background-color: $color3;
                    cursor: pointer;
                }
            }
        }
    }
    section {
        margin: 1rem;
    }
    .home {
        display: flex;
        align-items: center;
        .home__video {
            position: relative;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            .home__video video {
                min-width: 100%;
                min-height: 100%;
            }
        }
        .home__titulo {
            margin: 10% 30%;
            z-index: 1;
            text-align: center;
        }
    }
    main {
        #productos {
            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 0px 0px;
                grid-template-areas: "foto1 texto1 foto2 texto2" "texto3 foto3 texto4 foto4" "foto5 texto5 foto6 texto6";
            }
            .foto1 {
                grid-area: foto1;
            }
            .texto1 {
                grid-area: texto1;
                background-color: $color1;
            }
            .foto2 {
                grid-area: foto2;
            }
            .texto2 {
                grid-area: texto2;
                background-color: $color2;
            }
            .texto3 {
                grid-area: texto3;
                background-color: $color3;
            }
            .foto3 {
                grid-area: foto3;
            }
            .texto4 {
                grid-area: texto4;
                background-color: $color5;
            }
            .foto4 {
                grid-area: foto4;
            }
            .foto5 {
                grid-area: foto5;
            }
            .texto5 {
                grid-area: texto5;
                background-color: $color1;
            }
            .foto6 {
                grid-area: foto6;
            }
            .texto6 {
                grid-area: texto6;
                background-color: $color3;
            }
            .fotos {
                max-width: 100%;
            }
        }
        .servicios {
            height: 100vh;
            width: 100vw;
        }
        .contacto {
            height: 75vh;
            background: url(../Imagenes/bas.png);
            background-size: 100vw 100vh;
            background-attachment: fixed;
            margin: 0;
            top: 0;
            .formulario {
                width: 450px;
                margin: auto;
                background: rgba(218, 195, 185, 0.4);
                padding: 10px 20px;
                box-sizing: border-box;
                margin-top: 20px;
                border-radius: 7px;
            }
            form {
                min-height: 50%;
                max-height: 100%;
                max-width: 100%;
                label,
                select,
                textarea,
                input {
                    width: 100%;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1rem;
                    color: $color1;
                    margin-bottom: 10px;
                    padding: 4px;
                    box-sizing: border-box;
                    border: none;
                    textarea {
                        min-height: 100px;
                        max-height: 200px;
                        max-width: 100%;
                    }
                }
                #boton {
                    background-color: $color1;
                    color: $color4;
                    padding: 10px;
                    border: none;
                    width: 100%;
                    #boton:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #carouselExampleFade {
        z-index: 0;
    }
    footer {
        display: grid;
        grid-template-columns: 50% 40% 10%;
        grid-column-gap: 1px;
        background-color: $color1;
        width: 100vw;
        height: 60px;
        margin-bottom: 0;
        position: relative;
        .footer__logo {
            padding: 5px;
            margin: 10px;
            width: 6%;
            float: center;
        }
        .footer__lista {
            list-style: none;
            margin: 1px;
            .footer__lista--item {
                font-family: 'Lato', sans-serif;
                text-decoration: none;
                font-size: 1rem;
                color: $color4;
            }
        }
        .redes__link--imagen {
            width: 15%;
            height: 15%;
            margin: 10px 5px;
        }
    }
    body {
        @if $color3==#d3c1a9 {
            color: $color2;
        }
        @else if $color3==#4E2008 {
            color: #F9F5EA;
        }
        @else {
            color: #af9a7c;
        }
    }
    $animaciones:(imagen1:#4E2008, imagen2:#A23607, imagen3:#af9a7c, );
    @for $i from 1 to 3 {
        #productos-#{$i} {
            box-shadow: 10% + $i;
        }
    }
    @each $animaciones in imagen1,
    imagen2,
    imagen3 {
        img.#{productos} {
            width: 10%;
        }
    }
}

@media(max-width:480px) {
    form {
        width: 100%;
    }
}


/*grid-area: carrusel;
                    border-radius: 100px 100px 100px 100px;
                    -webkit-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                    -moz-box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);
                    box-shadow: 2px 1px 14px 3px rgba(78, 32, 8, 1);*/